.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content {
    background-color: crimson;
    margin: 10px;
    padding: 5px 2px;
    width: 200px;
}